@charset "UTF-8";
/**
 * Customized PukiWiki Advance skin for PukiWiki by root-SBH.
 * Original(PukiWiki Plus!) version written by miko and upk.
 * Adv version by Logue.
 *
 * $Id: default.css,v 1.0.0 2023/03/13 20:00:00 root-SBH Exp $
 */

/** Generic Tags *********************************************************************************/
::selection, ::-moz-selection {
	text-shadow: none;
}

a:not(.btn):not([role="presentation"]){
	text-decoration: none;
	-ms-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

a:not(.btn):not([role="presentation"]):hover{
	text-decoration: underline;
}

blockquote{
	font-size: 100%;
	line-height: 130%;
	margin-left:32px;
	/* border-width: 1px;
	border-style: solid;
	padding: .5em;
	box-shadow: 0 1px 6px; */
}

dt{
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
	padding: .1em 0 .1em .3em;
	border-left:.4em solid;
	border-bottom:1px solid;
	margin:0;
	font-weight: 500;
}

pre{
	border: 1px solid;
	border-radius: 4px;
	padding: .5em 1em;
	white-space: pre-wrap;
}

q{
	border:1px dotted;
}

textarea {
	box-sizing:border-box;
    scrollbar-gutter: stable;
    resize: vertical;
}

textarea, input, select {
	border: 1px solid;
	border-radius: 5px;
	padding: 0 3px;
}

input[type="submit"] {
	height:1.6em;
	border-radius: 5px;
	padding: 0 5px;
}

input[type="text"], input[type="password"], input[type="search"] {
	height:1.6em;
	border-radius: 5px;
	padding: 0 4px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}


::-webkit-scrollbar-thumb {
	border-radius: 10px;
}

img {
	border:none;
	vertical-align:middle;
}
  
ul {
	margin-top:.5em;
	margin-bottom:.5em;
	line-height:130%;
}
  
em {
	font-style:italic;
}
  
strong {
	font-weight:bold;
}

.style_table {
  padding:0;
  border:0;
  margin:auto;
  text-align:left;
}
.style_th {
  padding:5px;
  margin:1px;
  text-align:center;
}
.style_td {
  padding:5px;
  margin:1px;
}

ul.list1 {
	list-style-type:disc;
}
ul.list2 {
	list-style-type:circle;
}
ul.list3 {
	list-style-type:square;
}
ol.list1 {
	list-style-type:decimal;
}
ol.list2 {
	list-style-type:lower-roman;
}
ol.list3 {
	list-style-type:lower-alpha;
}
.list-indent1 {
	padding-left:16px;
	margin-left:16px;
}
/* list-indent2,3,4 are used for leaping list level indentation */
.list-indent2 {
	padding-left:32px;
	margin-left:32px;
}
.list-indent3 {
	padding-left:48px;
	margin-left:48px;
}
.list-indent4 {
	padding-left:64px;
	margin-left:64px;
}

div.ie5 {
	text-align:center;
}

.comment_date {
    font-size: x-small;
}

.small {
	font-size:80%;
}

span.noexists {
	text-shadow: none !important;
}

.super_index {
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

a.note_super {
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

div.jumpmenu {
	font-size:60%;
	text-align:right;
	user-select:none;
}

hr.full_hr {
	border-style:ridge;
	border-width:1px 0;
}
hr.note_hr {
	/* width:90%; */
	border-style:ridge;
	border-width:1px 0;
	text-align:center;
	margin:1em auto 0em auto;
}

span.size1 {
	font-size:xx-small;
	line-height:130%;
	text-indent:0;
	display:inline;
}
span.size2 {
	font-size:x-small;
	line-height:130%;
	text-indent:0;
	display:inline;
}
span.size3 {
	font-size:small;
	line-height:130%;
	text-indent:0;
	display:inline;
}
span.size4 {
	font-size:medium;
	line-height:130%;
	text-indent:0;
	display:inline;
}
span.size5 {
	font-size:large;
	line-height:130%;
	text-indent:0;
	display:inline;
}
span.size6 {
	font-size:x-large;
	line-height:130%;
	text-indent:0;
	display:inline;
}
span.size7 {
	font-size:xx-large;
	line-height:130%;
	text-indent:0;
	display:inline;
}

/** color switch  ***********************************************************************************/

.color_switch{
	position: absolute;
	top: 16px;
	right: 16px;
	display: flex;
	align-items: center;
}
.switch {
	position: relative;
}
input[type='checkbox']#color_mode_switch {
	display: none;
}
.slider {
	width: 36px;
	border-radius: 10px;
	height: 20px;
	background-color: #8b8b8b;
	transition: transform 250ms ease-in-out;
}
input[type='checkbox']#color_mode_switch:checked ~ div .slider {
	background: #c0c0c0;
}
.circle{
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: white;
	transition: transform 250ms ease-in-out;
}
input[type='checkbox']#color_mode_switch:checked ~ div .circle {
	background-color: black;
	transform: translateX(100%);
}
.color_switch_title {
	font-size: 14px;
	margin-left: 4px;
}

/** Page Layout ***********************************************************************************/
#container {
	width:100%;
	margin: 0 auto;
}

div#navigator {
	clear:both;
	padding:4px 0 0 0;
	margin:0;
}
  
div#contents {
	display:flex;
	flex-flow:row nowrap;
	/* word-break:break-all; */
	overflow-wrap:break-word;
	word-wrap:break-word;
}

div#menubar {
	order: 1;
	width: 20%;
	/* padding-right: 4px; */
}

#menubar ul li {
	list-style: none;
}

div#rightbar {
	order: 3;
	width: 20%;
 	/* padding-left: 4px; */
}

#menubar h1, #menubar h2, #menubar h3, #menubar h4, #menubar h5, #menubar h6,
#rightbar h1, #rightbar h2, #rightbar h3, #rightbar h4, #rightbar h5, #rightbar h6 {
	border: 1px solid;
}

div#body {
	order:2;
	flex-grow:1;
	width: 80%;
 	padding: 0 1em;
	margin-left: .5em;
	/* margin-left: 2px; */
	word-break:break-all;
	overflow-wrap:break-word;
	word-wrap:break-word;
}


/** Header and Footer *****************************************************************************/
#header{
	margin:1% 1% 0 1%;
	display: flex;
}

#header-logo {
	justify-content: center;
	box-sizing: border-box;
}
#header-logo img {
  	float: left;
	height: 100%;
}

#header-title {
	flex: auto;
	margin-left: 10px;
}
#header-title h1, #header-title h2{
	background-color:transparent;
	background-image:none;
	box-shadow:none;
	border: none;
	padding: 0px;
}
#header-title h1 {
	font-weight:bold;
}
#header-title h2 {
	font-weight:normal;
	font-size: large;
}
#header-title #lastmodified {
	margin-left: auto;
	margin-right: 0;
}

#lastmodified {
	clear:both;
	font-size:80%;
	float:right;
}

#footer{
	clear:both;
	font-size:77%;
	margin:0px 1% 1% 1%;
}

/** Main Content area *****************************************************************************/

#topicpath{
	margin: 8px 0;
	padding:2px 8px;
	font-size: 96%;
}

#topicpath .fa-home {
  font-size: 88%;
}

#body h1{
	margin: 0;
}

#body h2{
	margin:.2em -.5em .2em -.5em;
}

#body h3{
	margin:.2em -.5em .5em -.3em;
}

#body h4, #body h5, #body h6{
	margin:.2em -.5em .5em -.1em;
}

#body form, #body figure{
	margin:.5em 1.5em;
}

#note{
	padding:0;
	font-size: 86%;
}

/** MenuBar/RightBar*********************************************************************************/
#menubar, #rightbar{
	word-break: break-all;
	font-size: 93%;
	overflow: hidden;
}

#menubar ul{
	padding: 0 0.3em;
	margin: 0;
}

#rightbar ul{
	margin: 0 0 0 .5em;
	padding: 0 0 0 .5em;
}

#menubar ul li .noexists, #menubar ul li a,
#rightbar ul li .noexists, #rightbar ul li a {
	display: block;
	padding: 0 0.3em;
}

#menubar ul li .noexists a,
#rightbar ul li .noexists a{
	display:inline;
	background-color:transparent;
}

#menubar h1, #menubar h2, #menubar h3, #menubar h4, #menubar h5, #menubar h6,
#rightbar h1, #rightbar h2, #rightbar h3, #rightbar h4, #rightbar h5, #rightbar h6{
	border: 1px solid;
	box-shadow:none;
	margin: 1px;
	padding: .2em;
	text-align:center;
}

#menubar h1, #menubar h2, #menubar h3,
#rightbar h1, #rightbar h2, #rightbar h3 {
	font-size:161.6%;
}

#menubar h4, #menubar h5, #menubar h6,
#rightbar h4, #rightbar h5, #rightbar h6{
	font-size:138.5%;
}

#menubar p, #menubar form,
#rightbar p, #rightbar form{
	margin: 0;
	padding: 0;
}

/* Hack calendar */
#menubar .style_calendar, #rightbar .style_calendar{
	width:150px;
	height:150px;
	padding:0;
	margin:1px;
}

#menubar .style_calendar td, #rightbar .style_calendar td,
#menubar .style_calendar th, #rightbar .style_calendar th{
	padding:1px;
	margin:1px;
}

.social{
	padding:0;
	margin:0;
}

/** Plugin ****************************************************************************************/

/* aname.inc.php */
.anchor_super {
	font-size:xx-small;
	vertical-align:super;
	margin-left:.5em;
}
  
/* list.inc.php */
.page_passage {
	font-size:small;
}

/* calendar*.inc.php */
.style_calendar {
	padding:0;
	border:0;
	margin:3px;
	text-align:center;
}
.style_td_caltop {
	padding:5px;
	margin:1px;
	font-size:80%;
	text-align:center;
}
.style_td_today {
	padding:5px;
	margin:1px;
	text-align:center;
}
.style_td_sat {
	padding:5px;
	margin:1px;
	text-align:center;
}
.style_td_sun {
	padding:5px;
	margin:1px;
	text-align:center;
}
.style_td_blank {
	padding:5px;
	margin:1px;
	text-align:center;
}
.style_td_day {
	padding:5px;
	margin:1px;
	text-align:center;
}
.style_td_week {
	padding:5px;
	margin:1px;
	font-size:80%;
	font-weight:bold;
	text-align:center;
}
  
/* calendar_viewer.inc.php */
div.calendar_viewer {
	margin-top:20px;
	margin-bottom:10px;
	padding-bottom:10px;
}
span.calendar_viewer_left {
	float:left;
}
span.calendar_viewer_right {
	float:right;
}

/* edit.inc.php */
.edit_form {
	clear:both;
}
.edit_form textarea, .edit_form select {
	width:99.5%;
}

/* clear.inc.php */
.clear {
	margin:0;
	clear:both;
  }
  
/* counter.inc.php */
div.counter {
	font-size:70%;
}

/* hr.inc.php */
hr.short_line {
	text-align:center;
	width:80%;
	border-style:solid;
	border-width:1px 0;
}
  
/* include.inc.php */
h5.side_label {
	text-align:center;
}
  
/* navi.inc.php */
ul.navi {
	margin:0;
	padding:0;
	text-align:center;
}
li.navi_none {
	display:block;
	float:none;
}
li.navi_left {
	display:block;
	float:left;
	text-align:left;
}
li.navi_right {
	display:block;
	float:right;
	text-align:right;
}
  
/* new.inc.php */
span.comment_date {
	font-size:x-small;
}
span.new1 {
	font-size:x-small;
}
span.new5 {
	font-size:xx-small;
}
  
/* comment.inc.php */
/* pcomment.inc.php */
._p_comment_form textarea, ._p_pcomment_form textarea {
	min-height: calc( 1.4em * 4 );
	line-height: 1.3em;
	width:100%;
	resize: vertical;
	scrollbar-gutter: stable;
}
  
/* article.inc.php */
._p_article_form input[name="subject"] {
	max-width:82%;
}
  
/* popular.inc.php */
span.counter {
	font-size:70%;
}
  
/* ref.inc.php */
div.img_margin {
	margin-left:32px;
	margin-right:32px;
}
  
/* topicpath.inc.php */
span.topicpath-slash {
	margin:0 0.2em;
}
span.topicpath-top {
	user-select:none;
}
  
/* bugtrack.inc.php */
tr.bugtrack_list_header th:nth-child(1) {
	min-width: 7em;
}
tr.bugtrack_list_header th:nth-child(2) {
	min-width: 2em;
}
tr.bugtrack_list_header th:nth-child(3) {
	min-width: 4em;
}
tr.bugtrack_list_header th:nth-child(4) {
	min-width: 4em;
}
tr.bugtrack_list_header th:nth-child(5) {
	min-width: 3em;
}
._p_bugtrack_form input[name="summary"],
._p_bugtrack_form textarea {
	box-sizing:border-box;
	width:35em;
	max-width:99.5%;
}
  
/* tracker.inc.php */
._p_tracker_form th {
	min-width:5em;
}
  
/* search2.inc.php  */
.search-result-page-summary {
	font-size:70%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/* recent.inc.php,showrss.inc.php */
.recent_list{
	padding:0px 0px 0px .5em;
	margin:0px 0px 0px .5em;
	border:0px;
	word-wrap:break-word;
	word-break:break-all;
}
.recent_list li{
	line-height:110%;
}

/* toolbar.inc.php */
#toolbar{
	display:block;
	clear:both;
	float:right;
	padding:0 1%;
}


/** Mobile-friendly Responsive layout ***********************************************************************/
div#sp-header {
	height: 50px;
	display: none;
	padding:0;
	margin:0;
}

div#sp-lastmodified {
	display: none;
}

input[type="checkbox"]#openMenubar, input[type="checkbox"]#openNavibar {
	display: none;
}

div#sp-navigator {
	display: none;
}

@media (max-width:767px) {
	body {
		margin: 0;
		/* margin-top: 0 !important; */
		overflow-x: hidden;
	}
	div#header {
		display: none;
	}

	hr.full_hr:first-of-type {
		display: none;
	}

	div#sp-lastmodified {
		display: block;
		font-size: 80%;
	}

	.navibarIconToggle, .menubarIconToggle {
		display: block;
		width: fit-content;
		padding: 5px;
		box-sizing: border-box;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
	}
	.navibarIconToggle{
		margin-left: auto;
		margin-right: 8px;
	}
	.menubarIconToggle{
		margin-left: 8px;
		margin-right: auto;
	}
	.wikiPageTitle {
		width: auto;
		overflow-wrap: break-word;
		word-break: break-all;
	}

	.color_switch{
		position: inherit;
	}

	div#sp-header {
		width: 100%;
		height: fit-content;
		top: 0;
		margin: 0;
		z-index: 100000;
		position: sticky;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.wikiPageTitle {
		padding-top: 4px;
		text-align: center;
		justify-content: center;
	}
	#pagename {
		font-size: x-large;
	}
	div#contents {
		margin: 8px 8px 0 8px;
		/* position: absolute; */
		/* top: 0px; */
	  	/* position: relative; */
	}
	div#body {
		overscroll-behavior: none;
		margin-left: 0;
	}
	div#note, hr.full_hr, div#toolbar, div#sp-lastmodified, div#footer {
		margin-left: 8px;
		margin-right: 8px;
	}

	div#menubar {
		overscroll-behavior: none;
		padding:8px;
		min-height: max-content;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: auto;
		font-size: 100%;
		overflow-y: auto;
		/* -webkit-overflow-scrolling: touch; */
		transform: translateX(calc(-1em - 100%));
		transition: transform 250ms ease-in-out;
	}
	input[type="checkbox"]#openMenubar:checked ~ div#contents div#menubar {
		transform: translateX(0);
	}

	div#rightbar {
		z-index: 10000;
		display: block;
		min-height: max-content;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: auto;
		font-size: 100%;
		transform: translateX(calc(+1em + 100%));
		transition: transform 250ms ease-in-out;
	}
	input[type="checkbox"]#openNavibar:checked ~ div#contents div#rightbar {
		transform: translateX(0);
	}

	div#navigator {
		display: none;
	}
	div#sp-navigator {
		white-space: nowrap;
		overflow-x: auto;
		/* scrollbar-gutter: stable both-edges; */

		display: flex;
		align-items: center;
		z-index: 10000;
		position: sticky;
		padding: 8px;

		/* margin-top: -50px;
		top: 50px;
		height: 50px; */
		
		/* transform: translateY(calc(-1em - 100%)); */
		transition: transform 250ms ease-in-out;
	}
	input[type="checkbox"]#openNavibar:checked ~ div#sp-navigator {
		transform: translateY(calc(+100%));
	}

	div#sp-navigator ul {
		scrollbar-gutter: stable;
		align-self: center;
		list-style: none;
		margin: 0 auto 0 auto;
		padding: 0;
		display: flex;
		align-items: center;
	}
	
	div#sp-navigator ul li {
		margin: 0 8px 0 8px;
	}

	div#rightbar {
	  width:auto;
	  max-width:none;
	  font-size:100%;
	  order:3;
	}
	div#body {
	  order:1;
	}
	div#body img {
	  max-width:95%;
	  height:auto;
	}
	hr.note_hr {
		width: 100%;
	}
  
	._p_tracker_form th,._p_tracker_form td {
	  display:block;
	  text-align:left !important;
	  width:auto !important;
	  margin:0;
	}
	._p_tracker_form td input[type=text],
	._p_tracker_form td textarea {
	  box-sizing:border-box;
	  width:99.5%;
	}
  
	tr.bugtrack_list_header th:nth-child(1) {
	  min-width: 4em;
	}
	tr.bugtrack_list_header th:nth-child(2) {
	  min-width: 1em;
	}
	tr.bugtrack_list_header th:nth-child(3) {
	  min-width: 1em;
	}
	tr.bugtrack_list_header th:nth-child(4) {
	  min-width: 3em;
	}
	tr.bugtrack_list_header th:nth-child(5) {
	  min-width: 3em;
	}
	._p_bugtrack_form th,._p_bugtrack_form td {
	  display:block;
	  text-align:left !important;
	  margin:0;
	}
	._p_bugtrack_form input[name="summary"],
	._p_bugtrack_form textarea {
	  box-sizing:border-box;
	  width:99.5%;
	}
  }

/** Print Setting *********************************************************************************/
@media print {
  a:link,
  a:visited {
    text-decoration:underline;
  }
  #header img,
  div#navigator,
  div#menubar,
  div#rightbar,
  div#related,
  div#attach,
  div#toolbar {
    display:none;
  }

}